.downvote {
  max-width: 30px;
  padding: 0 0 0 0;
}
.downvote .button {
  height: 20px;
  width: 20px;
  padding: inherit;
  border:none;
  color: none;
  background-color: #D3D3D3;
}
.upvote {
  max-width: 30px;
  padding: 0 0 0 0;
}
.upvote .button {
  height: 20px;
  width: 20px;
  padding: inherit;
  border:none;
  color: none;
  background-color: #D3D3D3;
}
.big_vote_box {
  position: static;
}
.vote_box {
  width: 40px;
  position: relative;
  left: 0px;
  display:inline-block;
}
.vote_box p {
  margin: 0;
}
.voted_on_box{
  top: -1em;
  left: 21px;
  position: relative;
  display:inline-block;
}
.voted_on_box p {
  margin-left: inherit;
  margin-bottom: 1em;
}
.voted_on_box li {
  margin-left: inherit;
}
